@page "/fetchresources"
@using Microsoft.AspNetCore.Authorization
@using Trainor.Storage.Entities
@using Trainor.Storage
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Resources</h1>


<p>This component demonstrates using parameterized calls to fetch resources from the server.</p>

@if (_resources== null)
{
    <p><em>Loading...</em></p>
    <p><em>@otherFailMessage</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var resource in _resources)
        {
            <tr>
                <td>@resource.id</td>
                <td>@resource.link</td>
            </tr>
        }
        </tbody>
    </table>
}

@if (_typeResources == null)
{
    <p><em>Loading by type...</em></p>

}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var resource in _typeResources)
        {
            <tr>
                <td>@resource.id</td>
                <td>@resource.link</td>
            </tr>
        }
        </tbody>
    </table>
}
<button class="searchButton" @onclick="SetParamType">Initialize search by type</button>

@if (_subjectResources == null)
{
    <p><em>Loading by subject...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var resource in _subjectResources)
        {
            <tr>
                <td>@resource.id</td>
                <td>@resource.link</td>
            </tr>
        }
        </tbody>
    </table>
}

<button class="searchButton" @onclick="SetParamSubject">Initialize search by subject</button>



@code {
    private IReadOnlyCollection<ResourceDto> _resources;
    private string otherFailMessage = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _resources = await Http.GetFromJsonAsync<IReadOnlyCollection<ResourceDto>>("Resource");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex){
            otherFailMessage = ex.Message;
        }
    }
}
@code 
{
    private List<ResourceDto>? _typeResources;
    private List<ResourceDto>? _subjectResources;
    protected override async Task OnParametersSetAsync()
    {
        if (Filter != null)
        {
            _typeResources = await Http.GetFromJsonAsync<List<ResourceDto>>($"Resource/{Filter}");
        } 
        else if (Filters != null)
        {
            _subjectResources = await Http.GetFromJsonAsync<List<ResourceDto>>($"Resource/bysubject?{Filters}");
        }
        await base.OnParametersSetAsync();
    }
}

@code 
{
    [Parameter] 
    public string? Filter { get; set; }
    private async void SetParamType()
    {
        Filter = "type";
        await OnParametersSetAsync();
    }
}

@code 
{
    [Parameter] 
    public string? Filters { get; set; }
    private async void SetParamSubject()
    {
        string[] inputArray = new[]
        {
            "hello",
            "i'm",
            "a",
            "stringarray"
        };
        Filters = inputArray.ToFilterQueryString();
        await OnParametersSetAsync();
    }
}
